<meta charset="UTF-8">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i + 1 }}- {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <ul>
        <li v-for="pessoa in pessoas">
            <span v-for="(value, key, i) in pessoa">{{ key }} = {{ value }}  ({{ i + 1 }}) </span>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Giovana', peso: '78kg', idade: '24'},
                {nome: 'Júlia', peso: '75kg', idade: '28'}
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>