<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="projeto01">
    <div :class="'combate'">
        <section>
            <p :class="'jogador'">Jogador</p>
            <div :class="'barra'"></div>
            <p>{{ porcentagemJogador }}%</p>
        </section>
        <section>
            <p :class="'monstro'">Monstro</p>
            <div :class="'barra'"></div>
            <p>{{ porcentagemMonstro }}%</p>
        </section>
    </div>
    <p v-show="voceGanhou()">Vocẽ ganhou!</p>
    <p v-show="vocePerdeu()">Você perdeu!</p>
    <p v-show="porcentagemJogador === 0 && porcentagemMonstro === 0">Empatou!</p>
    <div :class="'botoes'">
            <button @click="botaoIniciar()" v-if="iniciarClicado || vitorioso !== null" :class="'iniciar'">INICIAR NOVO JOGO</button>
            <section v-if="!iniciarClicado && vitorioso === null">
                <button @click="funcaoAtaque()" :class="'ataque'">ATAQUE</button>
                <button @click="funcaoAtaqueEspecial()" :class="'ataqueEspecial'">ATAQUE ESPECIAL</button>
                <button @click="funcaoCurar()" :class="'curar'">CURAR</button>
                <button @click="botaoDesistir()" :class="'desistir'">DESISTIR</button>
            </section>
    </div>

    <ul>
        <li v-show="!iniciarClicado" v-for="ataque in listaAtaques">{{ ataque }}</li>
    </ul>
</div>
<script src="app.js"></script>